networkx
numpy
scikit-learn
scipy
torch==2.0.0 -f https://download.pytorch.org/whl/cpu/torch/
torch_geometric
torch_scatter torch_sparse torch_cluster torch_spline_conv -f https://data.pyg.org/whl/torch-2.0.0+cpu.html
pytest
coverage
coveralls