furo
networkx>=2.6.3
numpy>=1.19.4
https://download.pytorch.org/whl/cpu/torch-1.10.0%2Bcpu-cp38-cp38-linux_x86_64.whl
https://data.pyg.org/whl/torch-1.10.0%2Bcpu/torch_scatter-2.0.9-cp38-cp38-linux_x86_64.whl
https://data.pyg.org/whl/torch-1.10.0%2Bcpu/torch_sparse-0.6.12-cp38-cp38-linux_x86_64.whl
torch_geometric>=2.0.3
scipy>=1.5.2
setuptools>=50.3.1.post20201107
scikit-learn>=0.22.1
sphinxcontrib-bibtex
matplotlib>=3.5.1
sphinx_gallery>=0.10.1